@model FirstApp.Models.GuestResponse

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RsvpForm</title>
</head>
<body>
    @using (Html.BeginForm())
    { 
        @Html.ValidationSummary()
        <p> Name: @Html.TextBoxFor(x => x.Name)</p>
        <p> Email: @Html.TextBoxFor(x => x.Email)</p>
        <p> Ph. Number: @Html.TextBoxFor(x => x.PhoneNumber)</p>
        <p> Will you attend: @Html.DropDownListFor(x => x.WillAttend, 
                                                new[] { new SelectListItem() {Text = "Yes, I will be there", Value = bool.TrueString},
                                                        new SelectListItem() {Text = "No, I can't come", Value = bool.FalseString}, 
                                                        new SelectListItem(){Text = "Choose an option", Selected = true}})
                            <input type="submit" value="Submit RSVP"></p>
        
    }
</body>
</html>
