@model MVCAuction.Models.Auction


@{
    var auction = Model;
}

<a href="@Url.Action("Login", "Account")"><p>Login</p></a>
@Html.ActionLink("About","About", "Home")

<div class="auction">
    <h3>@auction.Title</h3>
    <div class="details">
        <p>Description : @auction.Description</p>
        <p>Start time : @auction.StartTime</p>
        <p>End time : @auction.EndTime</p>
        <p>Start prize : @auction.StartPrize.ToString("C")</p>
        @if (@auction.CurrentPrize == null)
        {
            <p> Cuurent prize : [No Bid]</p>
        }
        else
        { 
            <p> Cuurent prize : @auction.CurrentPrize.Value.ToString("C")</p>
                  
        }
    </div>
</div>